@import url('https://fonts.cdnfonts.com/css/nunito');


/*ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    transition: all 300ms;
}

:root{
    --violet: #686a9c;
    --dark-violet: #272a76;
    --light-violet: #c8cafa; 
    --white: #fff;
    --black: #000;
    --gray: #dbdbdb;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.section{
    width: 100%;
    min-height: 50rem;
}

.center{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.section-title{
    font-size: 4rem;
    text-align: center;
    margin: 5rem 0;
}




/*HEADER TOP*/
#header-top{
    width: 100%;
    height: 4rem;
    background: var(--dark-violet);
}

#header-top .center{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

#header-top .center div{
    width: 40%;  
    height: 100%;
    display: flex;
    align-items: center;justify-content: flex-start;
}

#header-top .center div:first-child{
    justify-content: flex-start;
}

#header-top .center div:last-child{
    justify-content: flex-end;
}


#header-top h2,
#header-top span{
    color: var(--white);
    line-height: 4rem;
}

#header-top span{
    margin: 0 1rem;
    font-size: 2rem;
}

#header-top a{
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--white);
    margin-left: 2rem;
}

#header-top a:hover{
    color: var(--violet);
}




/*HEADER*/
#header{
    height: 8rem;
    background: var(--gray);
}

#header .center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .center img{
    width: 8rem;
}

#header .center nav{
    width: 60%;
    height: 100%;
}

#header .center nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .center nav ul li{
    list-style: none;
}

#header .center nav ul li a{ 
    font-size: 1.8rem;
    text-decoration: none;
}

#header .center nav ul li a,
.fa-user{ 
    color: var(--violet);
}

#header .center nav ul li a:hover,
.fa-user:hover{ 
    color: var(--dark-violet);
}

.fa-user{
    cursor: pointer;
    font-size: 3rem;
}





/*BANNER*/
*{
    margin: 0;
    padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  min-height: 50rem;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important; 
  align-items: center !important;
  justify-content: space-evenly !important;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: auto;
  object-fit: cover;
}

.swiper-slide .img-lg {
    display: block;
    width: 35%;
    height: auto;
    object-fit: cover;
}

.swiper-slide h2{
    font-size: 5.5rem;
}

.swiper-slide a{
    width: 20rem;
    display: block;
    text-decoration: none;
    margin: 2rem auto;
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--white);
    background: var(--dark-violet);
    border-radius: 1.5rem;
}

.swiper-slide a:hover{
    background: var(--violet);
    color: var(--dark-violet);
    box-shadow: 0 0 1rem var(--dark-violet);
}








/*SERVICES*/
#services{
    width: 100%;
    min-height: 20rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 2rem;
    background: var(--gray);
}

#services .center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service_card{
    width: 30%;
    height: 100%;
}

.service_card img{
    display: block;
    margin: 0 auto;
    width: 10rem;
}

.service_card h3{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

.service_card p{
    text-align: center;
    font-size: 1.5rem;
}
















/*LATEST*/
#latest .center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

#latest .center .card-product{
    width: 30%;
    height: 40rem;
}



#latest .center .card-product img{
    display: block;
    margin: 2rem auto;
    width: auto;
    max-height: 20rem;
}

#latest .center .card-product h3{
    display: block;
    font-size: 2rem;
    text-align: center;
}

#latest .center .card-product h2{
    display: block;
    font-size: 3rem;
    text-align: center;
    color: var(--violet);
}

#latest .center .card-product h2 span{
    color: var(--dark-violet);
}

#latest .center .card-product a{
    display: block;
    width: 70%;
    text-align: center;
    margin: 1rem auto;
    background: var(--dark-violet);
    color: var(--white);
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}

#latest .center .card-product a:hover{
    background: var(--violet);
    color: var(--dark-violet);
}